.navigation {
  font-size: 1.3rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  height: 6rem;
  color: $color__white;

  @extend %mobile-padding;

  ul {
    width: 100%;
    @include immaFlex($just: space-between, $align: center);

    li:nth-child(1) {
      @extend %cursive;

      span {
        text-align: center;
        display: block;
        @include immaFlex($align: center);
      }
      span:first-child {
        font-size: 3.56rem;
      }

      span:last-child {
        position: relative;
        font-size: 1rem;
        font-weight: 600;
        top: -1rem;
        @extend %mont;

        &::before,
        &::after {
          content: '';
          display: inline-block;
          height: 0.2rem;
          width: 2rem;
          background-color: $color__white;
        }

        &::before {
          margin-right: 0.4rem;
        }
        &::after {
          margin-left: 0.4rem;
        }
      }
    }
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
      display: none;
    }
    li:nth-child(8) {
      span {
        font-size: 3rem;
      }
    }
  }
}
