.navigation {
  font-size: 1.3rem;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  height: 6rem;
  color: $color__white;
  z-index: 1000;

  @extend %mobile-padding;

  ul {
    width: 100%;
    @include immaFlex($just: space-between, $align: center);
    @include mediaQ('>=desktop') {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    li {
      cursor: pointer;
    }

    li:nth-child(1) {
      @extend %cursive;

      span {
        text-align: center;
        display: block;
        @include immaFlex($align: center);
      }
      span:first-child {
        font-size: 3.56rem;
        @include mediaQ('>=desktop') {
          font-size: 4.5rem;
        }
      }

      span:last-child {
        position: relative;
        font-size: 1rem;
        font-weight: 600;
        top: -1rem;
        text-transform: uppercase;
        @extend %mont;
        @include mediaQ('>=desktop') {
          font-size: 1.15rem;
          margin-top: -0.4rem;
        }

        &::before,
        &::after {
          content: '';
          display: inline-block;
          height: 0.2rem;
          width: 2rem;
          background-color: $color__white;
        }

        &::before {
          margin-right: 0.4rem;
        }
        &::after {
          margin-left: 0.4rem;
        }
      }
    }
    li:nth-child(2) {
      @include mediaQ('>=desktop') {
        margin-left: auto;
      }
    }
    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
      display: none;
      @extend %mont;
      @include mediaQ('>=desktop') {
        text-transform: uppercase;
        display: inline-block;
        padding: 1rem;
        font-size: 1.3rem;
        position: relative;
        @include immaFlex($align: center);
        &:not(:nth-child(7)) {
          margin-right: 4rem;
        }
        &:nth-child(7) {
          margin-right: -1rem;
          opacity: 0.75;
        }

        &:not(:nth-child(7))::after {
          content: '';
          background-color: $color__white;
          display: inline-block;
          width: 0.6rem;
          height: 0.6rem;
          position: absolute;
          border-radius: 100%;
          right: -2rem;
          opacity: 0.75;
        }
      }
    }
    li:nth-child(8) {
      @include mediaQ('>=desktop') {
        display: none;
      }
      span {
        font-size: 3rem;
      }
    }
  }
}
