.menu {
  text-align: center;
  padding: 1.3rem;
  position: relative;

  @include mediaQ('>=tablet') {
    margin-top: 15rem;
  }

  &__items {
    @include mediaQ('>=tablet') {
      max-width: 111.2rem;
      margin: 12rem auto 0;
    }
    @include mediaQ('>=tablet') {
      @include immaFlex($wrap: wrap);
    }
  }

  &__item {
    @include mediaQ('>=tablet') {
      &:nth-child(even) {
        padding-left: 3rem;
      }
      &:nth-child(odd) {
        padding-right: 3rem;
      }
    }
  }

  &__item {
    margin-bottom: 3.5rem;

    @include mediaQ('>=tablet') {
      width: 50%;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 1.5rem;

      @include immaFlex($align: center, $just: center);
    }

    &:last-child {
      margin-bottom: 8rem;
    }
  }
  &__content {
    @include mediaQ('>=tablet') {
      text-align: left;
    }
  }

  &__price {
    display: inline-block;
    margin-top: 1.3rem;
    font-size: 2.4rem;
    color: $color__primary;
    @extend %cursive;
    @include mediaQ('>=tablet') {
      font-size: 4rem;
      position: relative;
      top: 1.8rem;
      margin-left: 4rem;
    }
  }

  h4 {
    font-size: 3.2rem;

    @extend %cursive;
    @include mediaQ('>=tablet') {
      font-size: 4rem;
    }

    &::after {
      content: '';
      display: block;
      background-color: $color__primary;
      height: 0.2rem;
      width: 3.8rem;
      margin: 0 auto 4.2rem;
    }
  }

  h5 {
    letter-spacing: 0.2rem;
    color: $color__text;
    text-transform: uppercase;
    font-size: 1.5rem;

    @include mediaQ('>=tablet') {
      font-size: 2rem;
    }
  }

  h6 {
    margin-top: 3rem;
    margin-bottom: 1.3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 800;
    @include mediaQ('>=tablet') {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.3rem;
  }

  // DISPLAY IMAGE

  &__img1 {
    width: 30rem;
    display: block;
    position: absolute;
    right: -7.8rem;
    top: -6rem;
  }

  &__leaf1 {
    width: 8rem;
    top: -3rem;
    right: 19.2rem;
    z-index: -1;
  }
  &__leaf2 {
    width: 11rem;
    top: 9rem;
    right: 21.2rem;
    z-index: -1;
  }
  &__leaf3 {
    width: 6.5rem;
    top: 20rem;
    right: 14.2rem;
    z-index: -1;
  }

  &__img2 {
    width: 36rem;
    display: block;
    position: absolute;
    left: 0;
    top: 39rem;
  }

  &__img3 {
    width: 70rem;
    display: block;
    position: absolute;
    right: -13rem;
    top: 130rem;
  }

  &__img1,
  &__img2,
  &__img3 {
    display: none;
    @include mediaQ('>=desktop') {
      display: block;
    }
  }
}

.menu-margin {
  margin-top: -3rem;
  margin-bottom: 10rem;
}
