*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // DEFINES WHAT 1 REM IS E.G. 1REM === 10PX
}

body {
  font-family: 'Lato', sans-serif; // BODY COPY
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: $color__text;
  background-color: $color__bg;
  overflow-x: hidden;
  // overflow-y: hidden;
  visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color__text--header;
  margin-bottom: 1.2rem;
  @extend %mont;
}

p {
  margin-bottom: 1.8rem;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #f98d93;
  color: white;
}

::-webkit-scrollbar-track {
}
